/* ====================== Map ====================== */

.inside #map-container {
    background: blue none repeat scroll 0 0;
    width: 43%;
    margin-right: 7%;
}


/* ====================== Details ====================== */

#restaurant-container,
#reviews-container {
    margin-left: 7%;
    width: 43%;
}

#breadcrumb {
    padding-left: 8%;
}